body {
    background: #02015a;
    font-family: Bebas Neue;
}

h1 {
    color: #FFF919;
    text-align: center;
    padding-top: 20%;
    letter-spacing: 20px;
    font-size: 50px;
}

@keyframes desmet {
    from {color:  #02015a;}
    to { color: whitesmoke;}
}

#desmet {
    margin-left: 47%;
    color: #02015a;
    text-align: center;
    letter-spacing: 15px;
    animation-name: desmet;
    animation-delay: 1.8s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


@keyframes pauline {
    0% {top: 0%; left: 0%; }
    25% {top: 0%; left: 5%; }
    50% {top: 0%; left: 10%; }
    75% {top: 0%; left: 15%; }
    100% {top: 0%; left: 20%; }
}

#example {
    animation-name: pauline;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}