html{
    background: whitesmoke;
}
body {
    background: whitesmoke;
    font-family: Bebas Neue;
    max-width: 100%;
    overflow-x: hidden;
}

#one {
    
    background: whitesmoke;
    height: 100vh;

}
#two {
    height: 100vh;
    background: whitesmoke;
}

a{
    color: whitesmoke;
}

h3 {
    color: rgb(255, 109, 25);
}

h1 {
    color: rgb(255, 109, 25);
    text-align: center;
    padding-top: 20%;
    letter-spacing: 20px;
    font-size: 50px;
}

@keyframes desmet {
    from {color: whitesmoke;}
    to { color:  #02015a;}
}

#desmet {
    margin-left: 47%;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 15px;
    animation-name: desmet;
    animation-delay: 1.95s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


@keyframes pauline {
    0% {top: 0%; left: 0%; }
    25% {top: 0%; left: 5%; }
    50% {top: 0%; left: 10%; }
    75% {top: 0%; left: 15%; }
    100% {top: 0%; left: 20%; }
}

#example {
    animation-name: pauline;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}