html{
    background: whitesmoke;
}
body {
    background: whitesmoke;
    font-family: Bebas Neue;
    max-width: 100%;
    overflow-x: hidden;
}

#one {
    
    background: whitesmoke;
    height: 100vh;

}
#two {
    height: 100vh;
    background: whitesmoke;
    display: flex;
}



h1 {
    color: rgb(255, 109, 25);
    text-align: center;
    padding-top: 20%;
    letter-spacing: 20px;
    font-size: 50px;
}

@keyframes desmet {
    from {color: whitesmoke;}
    to { color:  #02015a;}
}

#desmet {
    margin-left: 47%;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 15px;
    animation-name: desmet;
    animation-delay: 1.95s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


@keyframes pauline {
    /* 0% {top: 0%; left: 0%; }
    25% {top: 0%; left: 5%; }
    50% {top: 0%; left: 10%; }
    75% {top: 0%; left: 15%; }
    100% {top: 0%; left: 20%; } */
    from {left: 0%;}
    to {left: 20%;}
}

#example {
    animation-name: pauline;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#refer {
    background: whitesmoke;
    color:   whitesmoke;
    border: none;
    font-size: 20px;
    margin-left: 49%;
    margin-top: 230px;
    outline: none;
    
    animation-name: arrow;
    animation-delay: 2s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in; 
    transition: color 2s;
}

@keyframes arrow {
    from {color: whitesmoke;}
    to { color:  #02015a;}
}

#refer:hover {
    color: rgb(255, 109, 25);
  }


h3 {
    color: #02015a;
    margin-top: 450px;
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 10px;
}

#gone{
    color: whitesmoke;
}

#photo {
    margin-left: 200px;
    margin-top: 55px;
    display: flex column;
    flex: wrap;
    width: 200px;
    
}

.een {
    float: left;
    transition-property: margin-left;
    transition-duration: 0.3s;
}

.een:hover {
    margin-left: 15px;
}

.twee {
    float: left;
    transition-property: margin-left;
    transition-duration: 0.3s;
}

.twee:hover {
    margin-left: -15px;
}

.drie {
    float: left;
    transition-property: margin-left;
    transition-duration: 0.3s;
}

.drie:hover {
    margin-left: 15px;
}

.vier {
    float: left;
    transition-property: margin-left;
    transition-duration: 0.3s;
}

.vier:hover {
    margin-left: -15px;
}

.vijf {
    float: left;
    transition-property: margin-left;
    transition-duration: 0.3s;
}

.vijf:hover {
    margin-left: 15px;
}

img{
    width: 250px;
}


hr {
    width: 340px;
    float: left;
    border-color: #02015a;
    margin-left: 80px;
}

.about {
    margin-left: 500px;
    margin-top: 100px;
   
}

.interest {
    margin-top: 100px;
    margin-left: 500px;
}

h4 {
    font-size: 30px;
    text-align: left;
    color: #02015a;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

li {
    list-style: none;
    font-family: brandon grotesque;
    color: #02015a;
}

ul {
    padding-left: 0px;
    
}

